body {
  margin: 0;
  background-color: bisque;
  background-image: url(https://i.pinimg.com/originals/ad/1e/2c/ad1e2c0c93696b30a9a6c916cb73d4b7.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Homer Simpson Revised";
  color: rgb(247, 230, 115);
  display: flex;
}

.square {
  margin: 3rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0%,
  100% {
    background: yellow;
    opacity: 50%;
    transform: rotate(0deg);
  }
  50% {
    background: red;
    transform: rotate(360deg);
  }
}
